@tailwind base;
@tailwind components;
@tailwind utilities;



/* @layer base{
    h1,h2,h3,h4,h5,h6 {
        @apply font-comfortaa uppercase;
    }
} */

@layer components {
    .container {
        @apply max-w-full w-[1440px] px-5;
    }
    
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #164E63;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #164E63;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}