.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 330px;
  }
  
 

  @media(max-width: 768px){
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
      }
    
    .swiper-slide{
        width: 300px;
        height: 100px;
    }
  }